.nav .container{
    width: 1200px;
     margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 10px;
}
.nav .container .a{
    color: #828282;
}
