@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Tillana:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tillana", cursive;
  font-weight: 600;
}
.fontIndex {
  font-family: "Fredericka the Great", cursive;
}
a {
  text-decoration: none;
}
.activ {
  color: black;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
